*{
    margin:0;
    padding: 0;
    scroll-padding-top: 50px;
}

nav {
    height: 50px;
    background-color: #484848;
    color: #c8c8c8;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top:0;
    width:100%;
}
nav li{
    padding: 10px;
}
a {
    text-decoration: none;
    color: orange;

}
a:hover{
    
    color: #8961b5;

}
body{
    background-color: bisque;
}

section{
    min-height: 480px;
    background-color: #484848;
    color: orange;
    padding: 10px;
    border: 2px dotted #8961b5;

}
.comando-git{
    padding: 5px;
    font-size: 2rem;
    border: 3px solid #e778cb;
    background-color:#eeecec; 
    color: #484848;
}

p{
    padding: 5px;
}
.conteudo{
    margin-top: 50px;
}
.ex{
    border: 2px dotted #8961b5;
}
h1{
    text-align: center;
}
.ex img{
    margin-left: 670px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 250px;
    width: 500px;
}

.projeto{
    height: 300px;
    width: 300px;
    border: #9920a3 solid 5px;
    margin: 10px;

}

#projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.projeto>img{
    width:100%;
}
.labels span{
    color:white !important;
    background-color: rgb(194, 91, 1);
    border-radius: 100px;
    padding:2px 5px;
}